@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.navbar{
    background-color: #76c7c0;
    min-height: 80px;
}

.navbar-brand{
    padding-bottom: 0.8125rem;
}

.nav-link , .navbar-brand{  
    cursor: pointer;
}

.nav-link{
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.04em;
    line-height: 0.8;
    padding: 10px 15px 10px 12px !important; 
    border-bottom: solid transparent 3px;
}

.nav-link:hover{ 
    background: #e8645a;
     color: #fff;
border-bottom-color: #e2534b;
 }

.navbar-collapse{ 
    justify-content: flex-end;
}

.nav-link-active{
        background: #62a29e;
     color: #fff;
     border-radius: 5px;
     border-bottom: solid #528b86   3px;
}



.navbar-toggler{  
    background:#fff;
    margin: 0.85em 0;
}

.fa-bars{
    color:#76c7c0;
}

.fa-search{
    font-size: 1.1em;
    margin-bottom: -2px;
}
