@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1.02em;
    font-weight: 400;
}

.navbar{
    background-color: #76c7c0;
    min-height: 80px;
    padding: 0px;
}

.navbar-brand{
    padding-bottom: 0.5rem;
    padding-top: 0;
    padding-left: 0.86rem;
}

.nav-link , .navbar-brand{  
    cursor: pointer;
}

 .navbar-nav{
    width: 100%;
} 

.nav-item{
    width: 100%;
}

.nav-link{
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.045em;
    line-height: 1;
    padding: 9px 15px 9px 12px !important; 
    border-bottom: solid transparent 3px;
    margin: 0;
    margin-top: 0.6em;
}

.nav-link:hover, .nav-link:focus{ 
    background: #e8645a;
    color: #fff;
    border-bottom-color: #e2534b;
 }

.nav-link-active{
    font-size: 0.79em;
    letter-spacing: 0.028em;
    background: #62a29e;
    color: #fff;
    border-bottom-color:#528b86;
}

.navbar-collapse{ 
    margin: 0 14px 14px;
    justify-content: flex-end;
    max-width: 779px;
    padding-top: 0.2em;

}

.navbar-toggler{  
    background:#fff;
    margin: 1.2em 0;
    margin-right: 14px;
}

.fa-bars{
    color:#76c7c0;
}

.fa-search{
    font-size: 1em;
    line-height: 0.2em;
}

.fa-angle-down{
    font-size: 1em;
}

.fa-angle-right{
    padding-right: 0.3em;
    font-size: 1em;
}


.dropdown-menu{
    background-color: #e2534b;
    border-radius: 5px;
    margin-top: 0.5em;
    width: 100%;
    padding: 0.3em;
}

.dropdown-menu.show{
    display: flex;
}

.dropdown-menu::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 30px;
    border: 7px solid transparent;
    border-bottom: 7px solid #e2534b;
}

.dropdown-item{
    background-color: #e5655d;
    color: #fff;
    border-radius: 5px;
    font-size: 0.78em;
    letter-spacing: 0.025em;
    padding: 0.3em 12px;
    line-height: 1.8;
    margin-bottom: 0.4em;
}

.dropdown-item:hover,
.dropdown-item:focus{
 background-color: #76c7c0;
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #76c7c0;
}

.line-bottom {
    background: 
    linear-gradient( 90deg,
    #6ab3ac 10%, 
    transparent 10%),
    linear-gradient( 90deg,
    transparent 40%,
    #6ab3ac 40%, 
    #6ab3ac 48%, 
    transparent 48%);
    background-size: 5px 7px, 25px 9px;
  background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #76c7c0;
  }

.intro-container{
    color: #7f8c8c;
    background-color: #f3f3f3;
    flex-direction: column;
}

.intro-bg{
    background-color: #ececec;
    border-radius: 5px;
    padding: 1.3em ;
    flex-direction: column;
}

.intro-h3{
    font-weight: 600;
    font-size: 1.68em;
    letter-spacing: 0.005em;
    text-align: center;
}

.intro-text{
    font-size: 0.75em;
    letter-spacing: -0.019em;
    padding: 14px 0;
    text-align: center;
}

.intro-btn{
    font-size: 1.1em;
    letter-spacing: 0.03em;
    border-radius: 5px;
    color: #fff;
    background-color: #e8645a;
    border-bottom: solid #e2534b 4px;
    padding: 0.4em 2.2em;
}

.intro-btn:hover,
.intro-btn:focus{
    color: #fff;
    background-color: #76c7c0;
    border-bottom-color: #62b9b0;
    outline: none;
}

.carousel{
    height: 550px;
}

.carousel-background{
    position: absolute;
     background-color:#7f8c8c;
}

.carousel-text{
    font-size: 0.9em; 
    width: 70%;
    background-color: rgba(0,0,0,0.5);
    text-align: center ;
    color: #fff;
    border-radius: 5px;
    padding: 0.7em;
    line-height: 1.6;
}

.carousel-h1{
    letter-spacing: 0.005em;
    font-size: 2.16em;
    font-weight: bold;
    background-color: #e2534b;
    border-radius: 5px;
    color: #fff;
    padding: 0.12em 0.25em 0.2em 0.35em;
    line-height: 0.9;
    margin-bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next{
    position: absolute;
    color:#fff;
}

.fa-angle-double-left{
    padding-right: 6px;
}

.fa-angle-double-right{
    padding-left: 1px;
}

.fa-angle-double-left,
.fa-angle-double-right{
    font-size: 2.2em;
}

.carousel-indicators{
    height: 50px;
    background-color: #f3f3f3;
}

.carousel-indicators li{
    width: 60px;
    height: 5px;
    margin: auto 5px 15px;
    background-color: #b0b8b9;
    transition: none;
    opacity: 1;
}

.carousel-indicators .active{
    background-color: #e2534b;
}

}
.services-container{
    min-height: 440px;
    background-color: #f3f3f3;
    padding: 50px 0;
}

.services-container .container .row {
    margin-right: -10px;
    margin-left: -7px;
}
.services{
    position: relative;
    height: 340px;
    margin-bottom: 20px;
}


.services-bg{
    background-color: #f8f8f8;
    border-radius: 5px;
    border-bottom: 4px solid #e5e6e6;
    color: #7f8c8c;
    height: 314px;  
}

.services-btn{
    white-space: nowrap;
    font-size: 0.8em;
    background-color: #76c7c0;
    border-radius: 5px;
    position: absolute;         
    left: 50%;                     
    transform: translate( -50%, 0) ;
    bottom: 9px;
    border-bottom: 4px solid #62b9b0;
    color: #fff;
    padding: 1em 3.2em;
}

.services-btn:hover{
    background-color: #e8645a;
    border-bottom: 4px solid #e2534b;
    color: #fff;
}


.services-icon{
    padding-top: 6px;
    color: #62bdbd;
    font-size: 3.3em;
    margin-top: 43px;
}

.services-h5{
    font-weight: 700;
    font-size: 0.9em;
    margin-top: 11px;
    margin-right: 5px;
}

.services-text{
    font-size: 0.7em;
    padding: 0 1.2em;
    text-align: center;
    line-height: 1.6;
    margin-top: 21px;
}

.fa-key{
    margin-right: 3px;
}

.fa-flag{
    margin-right: 2px;
}

.fa-flask{
    margin-right: 4px;
}

.services-bg-hover{
    background-color: #fff;
}


.services-icon-hover{
    color: #e2534b;
}

@media (min-width: 768px){

    .carousel-text{
        padding: 0.5em 1em 0.8em;
        max-width: 470px;
        margin-bottom: 5.95em;
    }

    .carousel-h1{
        font-size: 2.76em;
        padding: 0.02em 0.15em 0.1em 0.25em;
    }

    .carousel-control-prev,
    .carousel-control-next{
        bottom:52px;
        margin: auto 0;
        transition:none;
        opacity: 1;
        width: 50px;
        height: 60px;
        background-color: #e8645a;
        border-bottom: solid 3px #e2534b;
    }

    .carousel-control-next:focus,
    .carousel-control-next:hover,
    .carousel-control-prev:focus,
    .carousel-control-prev:hover {
        outline:0;
        opacity: 1;
    }

    .carousel-control-prev{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .carousel-control-next{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

@media(min-width: 993px){
    .dropdown-menu::before
    {
        top: -14px;
    }

    .navbar-collapse{
        margin: 0;
        margin-left: 14px;
    }

    .nav-item{
        width: auto;
    }

    .dropdown-menu{
        width: 201px;
    }

    .nav-link{
        margin: 0;
    }

    .fa-search{
        font-size: 1.3em;
        line-height: 0.2em;
    }

    .intro-bg{
        margin: 0 0.4em;
        padding: 1.36em 0.3em 1.15em 1.6em;
        flex-direction: row;
    }

    .intro-h3{
        text-align: left;
    }
    
    .intro-text{
        padding-top: 4px;
        text-align: left;
        max-width: 600px;
    }

    .intro-btn{
        padding: 0.53em 2.33em 0.67em;
        margin: auto;
    }

    .intro-content{
        margin: auto;
    }
}   

@media (min-width: 1200px){


    .intro-text{
        max-width: 700px;
    }


    .intro-content{
        margin: 0;
    }

    .services-btn{
        bottom: 3px;
        padding: 1em 4.6em;
    }

}

@media (min-width: 1400px){
    .intro-btn{
        padding: 0.53em 2.33em 0.67em;
        margin: 4px 1.5em 0.7em 0;
    }

    .intro-container .container
    {
        max-width: 1214px;
    }

    .intro-text{
        max-width: 100%;
    }
}